* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main {
  background-color: #f5f5f5;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.container button {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #2b283a;
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.container button:hover {
  background-color: #e2e8f0;
  transform: translateY(-2px); 
}

.container button:active {
  transform: translateY(0);
}


.container button.held {
  background-color: #59e391; 
  color: #ffffff;
}